In [34]:
%load_ext autotime

In [35]:
import pdal
import json
import numpy as np

time: 832 µs

In [36]:
import geopandas as gpd
import pandas as pd

time: 672 µs

In [37]:
ept = [
    {
      "type": "readers.las",
      "filename": "resultados/Área de Intervenção - PUPSP.laz",
    },
    {
      "type":"filters.range",
      "limits":"Classification[6:6]"
    }
]

pipeline = pdal.Pipeline(json.dumps(ept))
pipeline.validate()
%time n_points = pipeline.execute()
print(f'Pipeline selected {n_points} points')

CPU times: user 8.8 s, sys: 72.1 ms, total: 8.87 s
Wall time: 8.84 s
Pipeline selected 4925239 points
time: 8.95 s

In [38]:
arr = pipeline.arrays[0]
df = pd.DataFrame(arr)
# print(df.head().to_latex(index=False))
df.head()

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,ScanAngleRank,UserData,PointSourceId,GpsTime,Red,Green,Blue
0,333721.34,7391165.30,805.42,17,1,2,1,0,6,-7.0,48,31,1.763100e+08,62720,62976,62720
1,333721.24,7390902.37,837.99,4,1,2,1,0,6,3.0,76,31,1.763105e+08,25344,28928,37376
2,333387.29,7391234.92,843.32,3,1,2,1,0,6,4.0,76,31,1.763106e+08,34304,36608,38912
3,333474.37,7390914.60,864.08,44,1,2,0,0,6,-6.0,65,31,1.763106e+08,54272,55040,55040
4,333707.11,7390605.22,838.61,6,1,1,0,0,6,-4.0,60,31,1.763107e+08,30976,37120,42752

time: 1.98 s

In [39]:
len(df)

4925239

time: 1.88 ms

In [41]:
## Separando apenas Buildings
# df = df[df.Classification.isin([6])].reset_index()

time: 512 µs

In [42]:
# Reduzindo valores a mínimos para poderem ser visualizados
coord_minimas = df[['X', 'Y', 'Z']].min()
df[['X', 'Y', 'Z']] = df[['X', 'Y', 'Z']] - coord_minimas

time: 301 ms

In [43]:
CELL = 0.4

time: 508 µs

In [44]:
df.X, df.Y = round(round((1/CELL) * df.X) * CELL, 1), round(round((1/CELL) * df.Y) * CELL, 1)

time: 92.4 ms

In [45]:
z_max = df[['X', 'Y', 'Z', 'UserData']].groupby(['X', 'Y']).max()

time: 780 ms

In [46]:
df.set_index(['X', 'Y']).Z = z_max

time: 6.77 s

In [47]:
bd_voxel = pd.DataFrame(z_max, columns=['Z', 'UserData']).reset_index()

time: 13.1 ms

In [48]:
from sklearn.cluster import DBSCAN #, OPTICS
from sklearn import preprocessing

time: 432 µs

In [49]:
X = bd_voxel[['X', 'Y', 'Z']]

time: 16.4 ms

In [50]:
EPS = 1.5
MIN_SAMPLES = 6

time: 1.45 ms

In [51]:
clustering = DBSCAN(eps=EPS, min_samples=MIN_SAMPLES).fit(X)

time: 30.9 s

In [52]:
np.unique(clustering.labels_)

array([  -1,    0,    1, ..., 2241, 2242, 2243])

time: 31.6 ms

In [53]:
bd_voxel['ClusterID'] = clustering.labels_

time: 3.14 ms

In [54]:
import shapely.geometry as geometry
from scipy.spatial import Delaunay

time: 639 µs

In [66]:
from shapely.ops import cascaded_union, polygonize
from scipy.spatial import Delaunay
import numpy as np
import math

def alpha_shape(points, alpha):
    """
    Compute the alpha shape (concave hull) of a set
    of points.
    @param points: Iterable container of points.
    @param alpha: alpha value to influence the
        gooeyness of the border. Smaller numbers
        don't fall inward as much as larger numbers.
        Too large, and you lose everything!
    """
    if len(points) < 4:
        # When you have a triangle, there is no sense
        # in computing an alpha shape.
        return geometry.MultiPoint(list(points)).convex_hull

    coords = np.array([point.coords[0] for point in points])
    try:
        tri = Delaunay(coords)
        triangles = coords[tri.vertices]
        a = ((triangles[:,0,0] - triangles[:,1,0]) ** 2 + (triangles[:,0,1] - triangles[:,1,1]) ** 2) ** 0.5
        b = ((triangles[:,1,0] - triangles[:,2,0]) ** 2 + (triangles[:,1,1] - triangles[:,2,1]) ** 2) ** 0.5
        c = ((triangles[:,2,0] - triangles[:,0,0]) ** 2 + (triangles[:,2,1] - triangles[:,0,1]) ** 2) ** 0.5
        s = ( a + b + c ) / 2.0
        areas = (s*(s-a)*(s-b)*(s-c)) ** 0.5
        circums = a * b * c / (4.0 * areas)
        filtered = triangles[circums < (1.0 / alpha)]
        edge1 = filtered[:,(0,1)]
        edge2 = filtered[:,(1,2)]
        edge3 = filtered[:,(2,0)]
        edge_points = np.unique(np.concatenate((edge1,edge2,edge3)), axis = 0).tolist()
        m = geometry.MultiLineString(edge_points)
        triangles = list(polygonize(m))
    #     return cascaded_union(triangles[0])
        return cascaded_union(list(filter(lambda x: x.buffer(-0.20).intersection(points).type == 'MultiPoint', triangles)))
    except:
        print(coords)
        return None

time: 5.43 ms

In [62]:
ALPHA = 0.4
TOLERANCE = 0.40

time: 631 µs

In [63]:
bd_voxel

              X      Y      Z  UserData  ClusterID
0           0.0  578.4  76.19         3          0
1           0.4  577.6  76.20         3          0
2           0.4  578.0  76.13         3          0
3           0.8  576.8  76.17         3          0
4           0.8  577.2  76.03         3          0
...         ...    ...    ...       ...        ...
1597134  1016.8  272.4  57.19         8         -1
1597135  1016.8  272.8  53.67         5         -1
1597136  1016.8  273.6  56.84         8         -1
1597137  1016.8  274.0  59.54        11       2096
1597138  1017.2  284.0  58.93        10         -1

[1597139 rows x 5 columns]

time: 11.6 ms

In [64]:
resultados = gpd.GeoDataFrame(columns=['ClusterID', 'Altura'])

time: 9.26 ms

In [68]:
# poligono = []
from shapely import affinity

for i in bd_voxel.ClusterID.unique():
    if i >= 0:
        points = bd_voxel[bd_voxel.ClusterID == i][['X', 'Y']].to_numpy()
        if len(points) > 7:
            poli = alpha_shape(geometry.MultiPoint(points), ALPHA)
            if poli is not None:
                poli = affinity.translate(poli.simplify(TOLERANCE), xoff=coord_minimas.X, yoff=coord_minimas.Y, zoff=0.0)
                resultados = resultados.append({'ClusterID':i, 
                                            'Altura':bd_voxel[bd_voxel.ClusterID == i]['UserData'].max(), 
                                            'geometry':poli}, ignore_index=True)

/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:30: RuntimeWarning: divide by zero encountered in true_divide
/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:29: RuntimeWarning: invalid value encountered in sqrt
/home/fernando/miniconda3/envs/pcp-env/lib/python3.7/site-packages/ipykernel_launcher.py:31: RuntimeWarning: invalid value encountered in less

[[864.  245.2]
 [864.  246. ]
 [864.  246.4]
 [864.  246.8]
 [864.  247.2]
 [864.  247.6]
 [864.  248. ]
 [864.  248.8]]

AttributeError: 'NoneType' object has no attribute 'simplify'

time: 3min 41s

In [ ]:
resultados.to_file("resultados/edificacoes_restituidas_LiDAR_3D.gpkg", driver='GPKG')